bs4
cartopy
earthpy
elevation
fiona
folium
gdal==3.6.2
geopandas
geos
ipykernel
ipython
jupyterlab
keplergl
lxml
matplotlib
mercantile
networkx
notebook
numpy
osmnx
pandas
pydeck
pyproj
pysal
rasterio
requests
rioxarray
rtree
scikit-image
scikit-learn
scipy
seaborn
shapely
tqdm